* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

.accordion .active-entry {
  display: none;
}

.accordion .container {
  display: none;
  padding: 2em;
}

.accordion h2 {
  font: 1.5em/1 bold Arial, Helvetica, sans-serif;
  background-color: #ddd;
  border: 0.1rem solid white;
  border-top: none;
  border-left: none;
  color: #444;
}

.accordion h3 {
  font: 2.5em/1 bold Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.accordion p {
  font: 1.5em/1.2 Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.accordion label {
  display: block;
  cursor: pointer;
  padding: 1em 0.5em;
}

/* Active state styles */
.accordion .active-entry:checked + h2 {
  color: #ddd;
  background-color: white;
}

.accordion #option-1:checked ~ .container.option-1,
.accordion #option-2:checked ~ .container.option-2,
.accordion #option-3:checked ~ .container.option-3 {
  display: block;
}

/* Wider screens */
@media screen and (min-width: 768px) {
  .accordion > h2 {
    display: inline-block;
    margin-left: -0.2rem;
  }
}
